<div class="modal-body">
  <div class="jumbotron">
    <h1 class="display-4"><%= booking.full_name %></h1>
    <p class="lead"><%= booking.email %></p>
    <hr class="my-4">
    <p><%= booking.room %></p>
    <p class="lead"><%= booking.date %></p>
  </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Fechar</button>
</div>