

<h1>Reservar sala</h1>

<table class="table table-dark table-hover table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Sala</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="bookingTable">
    <% @bookings.each do |booking| %>
      <%= render 'booking_row', booking: booking %>
    <% end %>
  </tbody>
</table>


<br>

<% if user_signed_in? %>
  <%= link_to 'Nova reserva', new_booking_path, class:"btn btn-success", data: { bs_toggle: 'modal', bs_target: '#newBookingModal', remote: true } %>
<% end %>



<div class="modal fade" id="newBookingModal" tabindex="-1" aria-labelledby="newBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newBookingModalLabel">Reservar sala</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="newBookingForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editBookingModal" tabindex="-1" aria-labelledby="editBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editBookingModalLabel">Editar reserva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="editBookingForm">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showBookingModal" tabindex="-1" aria-labelledby="showBookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showBookingModalLabel">Ver reserva</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="showBookingDetails">
      </div>
    </div>
  </div>
</div>
