<h1>Projeto ESL Sistemas</h1>

<h2>Reserva de salas</h2>

<p>Projeto para o processo seletivo</p>

<%= link_to "Ver reservas", bookings_path, class:"btn btn-dark" %>
<%= link_to "Acessar conta", new_user_session_path, class:"btn btn-primary" %>
<%= link_to "Criar conta", new_user_registration_path, class:"btn btn-success" %>